@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Merriweather:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #c3cfe2;
  list-style-type: none;
}

.assignment__header {
  text-align: center;
  margin: 5rem;
}
.assignment__header h2 {
  font-family: "Boogaloo", cursive;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #686de0;
}

#first-part {
  margin-bottom: 10rem;
}

.testimonial {
  width: min(50rem, 80%);
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  background-color: #fff;
  font-size: 1.4rem;
  overflow: hidden;
}
.testimonial::before {
  width: 20px;
  height: 20px;
  background: black;
}
.testimonial.--shadow {
  box-shadow: 0px 7px 20px rgb(70, 70, 70);
}
.testimonial__header {
  text-align: justify;
  padding: 4rem 3rem 6rem 3rem;
  line-height: 2;
}
.testimonial__header span {
  font-size: 2.2rem;
}
.testimonial__footer {
  margin-top: 2rem;
  width: 100%;
  background-color: #686de0;
  position: relative;
}
.testimonial__footer #photo-me {
  border-radius: 50%;
  border: 5px dashed #fff;
  position: absolute;
  inset: 0 50% auto auto;
  transform: translate(50%, -50%);
  width: 12rem;
}
.testimonial__text {
  text-align: center;
  padding: 8rem 0 2rem 0;
}
.testimonial__text h3 {
  text-transform: uppercase;
  color: rgb(229, 173, 207);
  font-family: "Boogaloo", cursive;
  letter-spacing: 0.3em;
  font-size: 1.5em;
}
.testimonial__text span {
  color: white;
}

#second-part {
  margin-bottom: 10rem;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  width: min(50%, 300rem);
  margin: 0 auto;
}
.grid__container .grid__item {
  text-align: center;
  position: relative;
}
.grid__container .grid__item > img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px #686de0;
  position: relative;
}

.grid__item-cover {
  position: absolute;
  inset: 0 0 0 0;
  background-color: rgb(82, 12, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1500ms ease-out 10ms;
}
.grid__item-cover > button {
  width: 10rem;
  height: 3rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.grid__item-cover > button a {
  text-decoration: none;
  font-size: 1rem;
  font-family: inherit;
}

.grid__item:hover {
  border-radius: 10px;
  overflow: hidden;
}

.grid__item-cover:hover {
  opacity: 0.8;
  border-radius: 10px;
}

#part-three {
  position: fixed;
  bottom: 30vh;
  right: 0;
}

.social_media_wrapper {
  width: 4rem;
  margin-left: 10rem;
  transition: width 1000ms ease-in, margin-left 1000ms ease-in;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
}
.social_media_wrapper:hover {
  width: 14rem;
  margin-left: 0;
}

.icon-image {
  width: 2rem;
  margin: 0 1rem 0 1.2rem;
}

.social_media_text {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  margin-left: 0.5rem;
  white-space: nowrap;
}

.--laptop {
  background-color: #e17b77;
}

.--twitter {
  background-color: #00aced;
}

.--facebook {
  background-color: #3b5998;
}

.--github {
  background-color: #333;
}

.--linkedin {
  background-color: #007bb6;
}

.social_media_text a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7";
  }
}
@media only screen and (min-width: 1200px) {
  .grid__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7";
  }
}
@media only screen and (max-width: 568px) {
  .social_media_wrapper {
    width: 3.5rem;
    margin-left: 9rem;
    height: 2.5rem;
  }
  .social_media_wrapper:hover {
    width: 12.5rem;
  }
  .social_media_wrapper .icon-image {
    width: 1.7rem;
    margin: 1rem 1rem 1rem 1.2rem;
  }
  .social_media_wrapper .social_media_text {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */