// ==================
// Global
// ===================

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Merriweather:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
// variables

$primary-font: "Manrope", sans-serif;
$heading-clr: #686de0;
$span-font-big: 2.2rem;
$font-boogaloo: 'Boogaloo', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #c3cfe2;
  list-style-type: none;
}

// ========================
// Local
// ========================

// ASSIGNMENT HEADER //
.assignment__header {
  text-align: center;
  margin: 5rem;

  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: $heading-clr;
  }
}

//TESTIMONIAL

.test-wrapper {
  display: flex;
  justify-content: center;
}
.testimonial {
  font-family: $primary-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  height: auto;
  border-radius: 20px;
  align-items: center;
  background-color: #fff;
  font-size: 1.4rem;

  &__header {
    text-align: justify;
    padding: 4rem 4rem 6rem 4rem;
    line-height: 2;

    & span {
      font-size: $span-font-big;
    }
  }

  &__footer {
    width: 100%;
    background-color: $heading-clr;
    border-radius: 0 0 20px 20px;
    padding: 8rem 0 2rem 0;
    position: relative;

    & #photo-me {
      border-radius: 50%;
      border: 5px dashed #fff;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12rem;
      height: auto;
    }
  }

  &__text {
    text-align: center;

    h3 {
      text-transform: uppercase;
      color: rgb(229, 173, 207);
      font-family: $font-boogaloo;
      letter-spacing: 0.3em;
      font-size: 1.5em;
    }
    span {
      color: white;
     
    }
  }
}
.--shadow {
    box-shadow: 0px 5px 20px rgb(97, 88, 88);
  }


  #first-part {

    margin-bottom: 10rem
  }
  // OPDRACHT 2. 

  .grid {

    background-color: yellow;

  }